<ion-view>
<ion-header-bar class="bar-royal">
<h1 class="title center">Advocate App</h1>
</ion-header-bar>
<ion-content>
<h1 class="welcome-header">Do you have a <span  slide-toggle="#derp">disability</span>?</h1>
<div class="definition slideable" id="derp" >
<div ng-bind-html="disability"></div>

</div>
<div class="yesno-button">
 <button class="button button-light full-width" ng-click="yesno(1)">
  yes
</button>
</div>
<div class="yesno-button">
 <button class="button button-dark full-width" ng-click="yesno(0)">
  no
</button>
</div>
</ion-content>
</ion-view>