<ion-view>
<ion-header-bar class="bar-royal peter-river">
<h1 class="title center cloud">Advocate App</h1>
</ion-header-bar>
<ion-content class="bg-cloud has-header">
<h3 class="center pt-3">Basic Information</h3>
<form name="signupForm" novalidate="" ng-submit="signUp(signupForm)">

<div class="list w90 mxa pt-1">
  <label class="item item-input item-stacked-label noborder">
    <input type="text" name="name" ng-model="profile.name" ng-minlength="2"  required placeholder="Name">
  </label>
  <div class="form-errors mxa w90 red" ng-messages="signupForm.name.$dirty && signupForm.name.$error">
      <div class="form-error" ng-message="required">Your Name is Required.</div>
      <div class="form-error" ng-message="minlength">Your Name cannot be that short.</div>
  </div>
  <label class="item item-input item-select noborder ">
    <div class="input-label">
      Education
    </div>
    <select name="education" ng-model="profile.education" class="">
      <option ng-repeat="oneOption in options" value="{{oneOption}}">{{oneOption}}</option>
    </select>
  </label>
<label class="item item-input item-stacked-label noborder">
  <button class="button peter-river full-width white">
    Save
  </button>
</label>
</div>
</form>
</ion-content>
</ion-view>