<ion-view>
<ion-header-bar class="bar-stable">
<h1 class="title">Questions</h1>
</ion-header-bar>
<ion-content>
<ul class="list">
<li class="item center">
	<p>Please Check off which Category you fit in</p>
</li>
  <li class="item item­checkbox">
     <label class="checkbox">
       <input type="checkbox" value="1" ng-click="save(1)">
     </label>
     <span class="group-text">
     	Over age of 65
     </span>
  </li>
  <li class="item item­checkbox">
     <label class="checkbox">
       <input type="checkbox" value="2" ng-click="save(2)">
     </label>
     <span class="group-text">
     	Between age of 60 to 64
     </span>
  </li>
  <li class="item item­checkbox">
     <label class="checkbox">
       <input type="checkbox" value="3" ng-click="save(3)">
     </label>
     <span class="group-text">
     	Have Disability
     </span>
  </li>    
  <li class="item item­checkbox">
     <label class="checkbox">
       <input type="checkbox" value="4" ng-click="save(4)">
     </label>
     <span class="group-text">
     	Parent with child younger than 18
     </span>
  </li>      
  <li class="item item­checkbox">
     <label class="checkbox">
       <input type="checkbox" value="5" ng-click="save(5)">
     </label>
     <span class="group-text">
     	Full Time Student
     </span>
  </li>        
  <li class="item item­checkbox">
     <label class="checkbox">
       <input type="checkbox" value="6" ng-click="save(6)">
     </label>
     <span class="group-text">
     	First Nation Status
     </span>
  </li>          
  <li class="item item­checkbox">
     <label class="checkbox">
       <input type="checkbox" value="7" ng-click="save(7)">
     </label>
     <span class="group-text">
     	Financial Need
     </span>
  </li>          
  <li class="item">
  	 <button class="button button-royal" ng-click="continue()">
  		Continue
	</button>
  </li>
</ul>

</ion-content>
</ion-view>