/* Empty. Add your own CSS if you like */
.welcome-header{
 text-align: center;
 font-size: 18px;
 margin-top: 50% !important;
 margin-bottom: 30px;
}
.welcome-header span {
  text-decoration: underline;
  color:#3498db;
}
.welcome-button {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.welcome-button button{
 text-align: center;
 width: 100%;
}

.center{
	text-align: center !important;
}

.group-text {
    white-space: normal;
}

.full-width{
    width: 100%;
}

.item-toggle div span{
    display: block;
    white-space: normal;
}

.yesno-button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.plan-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}
.plan-container ul{
     list-style-type: circle !important;
     padding-left: 30px;
}

.plan-icon {
    width: 10%;
    float: left;
}

.plan-text {
    float:left;
    width: 90%;
    white-space: normal;
}

.definition{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
}

.peter-river{
  background-color: #3498DB !important;
}

.bg-cloud {
  background-color: #ecf0f1 !important;
}

.cloud {
  color: #ecf0f1 !important;
}

.bg-turqoise{
  background-color: #1ABC9C !important;
}
.turqoise{
  color: #1ABC9C !important;
}
.green-tea{
  background-color: #16A0A5 !important;
}

.alizarin{
  color: #E74C3C  !important;
}

.middle-screen{
  margin-top: 25%;
}
.w90{
  width: 90%;
}

.mxa{
  margin-left: auto;
  margin-right: auto;
}

.noborder{
  border: none !important;
}
.center{
  text-align: center !important;
}

.pl-1{
  padding-left: 16px;
}

.pt-1{
  padding-top: 16px;
}
.pt-2{
  padding-top: 32px;
}
.pt-3{
  padding-top: 48px;
}
.white{
  color: white;
}

.red {
  color: red;
}

::-webkit-input-placeholder {
   padding-left: 10px;
}