/* Empty. Add your own CSS if you like */
.welcome-header{
 text-align: center;
 font-size: 18px;
 margin-top: 25% !important;
 margin-bottom: 30px;
}

.welcome-button {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.welcome-button a{
 text-align: center;
 width: 100%;
}

.center{
	text-align: center;
}