/* Empty. Add your own CSS if you like */
.welcome-header{
 text-align: center;
 font-size: 18px;
 margin-top: 25% !important;
 margin-bottom: 30px;
}
.welcome-header span {
  text-decoration: underline;
  color:#3498db;
}
.welcome-button {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.welcome-button button{
 text-align: center;
 width: 100%;
}

.center{
	text-align: center !important;
}

.group-text {
    white-space: normal;
}

.full-width{
    width: 100%;
}

.item-toggle div span{
    display: block;
    white-space: normal;
}

.yesno-button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.plan-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}
.plan-container ul{
     list-style-type: circle !important;
     padding-left: 30px;
}

.plan-icon {
    width: 10%;
    float: left;
}

.plan-text {
    float:left;
    width: 90%;
    white-space: normal;
}

.definition{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
}